OPENWRT_VERSION=24.10.7
OPENWRT_TARGET=bcm27xx
OPENWRT_SUBTARGET=bcm2711
OPENWRT_PROFILE=rpi-4
OPENWRT_ARCH=aarch64_cortex-a72
OPENWRT_RELEASE_PATH=targets/bcm27xx/bcm2711
IMAGEBUILDER_NAME=openwrt-imagebuilder-24.10.7-bcm27xx-bcm2711.Linux-x86_64
PACKAGES_FILE=configs/imagebuilder/packages-base.txt
FILES_DIR=files
EXTRA_FEEDS_FILE=feeds/custom-feeds.conf
DISABLED_SERVICES=
OUTPUT_DIR=dist/imagebuilder/bcm2711
PRESET_FILE=configs/imagebuilder/presets/generic-router.env
COMPONENT_THEMES=stock
COMPONENT_PROXY=none
COMPONENT_STORAGE=common
COMPONENT_NETWORK=enhanced
COMPONENT_BYPASS=off
COMPONENT_IMAGE=default
