OPENWRT_VERSION=24.10.7
OPENWRT_TARGET=x86
OPENWRT_SUBTARGET=64
OPENWRT_PROFILE=generic
OPENWRT_ARCH=x86-64
OPENWRT_RELEASE_PATH=targets/x86/64
IMAGEBUILDER_NAME=openwrt-imagebuilder-24.10.7-x86-64.Linux-x86_64
PACKAGES_FILE=configs/imagebuilder/packages-base.txt
FILES_DIR=files
EXTRA_FEEDS_FILE=feeds/custom-feeds.conf
DISABLED_SERVICES=
OUTPUT_DIR=dist/imagebuilder/x86_64
PRESET_FILE=configs/imagebuilder/presets/generic-router.env
COMPONENT_THEMES=stock
COMPONENT_PROXY=none
COMPONENT_DNS=none
COMPONENT_STORAGE=common
COMPONENT_NETWORK=enhanced
COMPONENT_BYPASS=off
COMPONENT_IMAGE=default
COMPONENT_EXTRAS=none

